.header {
  background: #FFFFFF;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
    padding: 13px 60px;
  }

  &__logo {
    line-height: 7px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 13px 32px;
  }
}

@media (max-width: 510px) {
  .header {
    padding: 13px 0px;
  }
}
